*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color:#7f697a;
}

/*Navigation*/

.menu {
  padding: 15px;
  margin: 0;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: #2a1315d4;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 100;
}

ul {
  text-align: center;
}

.nav li,
.nav1 li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.nav li a,
.nav1 li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  font-size: 12pt;
}

.nav a:hover,
.nav1 a:hover {
  color:#ed6a3e;
}

.nav li.active a {
  border-bottom: 2px solid #ed6a3e;
  color: #ed6a3e;
}

/*Title*/

.title {
  width: 100%;
  position: relative;
  background-color: #501e2c;
  height: 550px;
}

.banner {
  width: 100%;
  opacity: 0.5;
  height: 550px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 25px;
}

.title p{
  text-align: center;
  color: #FFF;
}

.title h1 {
  padding: 25px;
  font-family: 'Gloock', serif;
  font-size: 36pt;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48pt;
  color: #FFF;
}

#title{
  width: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

#title p{
  text-align: center;
  margin: 0 600px;
  color: #fff;
}

#title h1 {
  padding: 50px;
  font-family: 'Gloock', serif;
  font-size: 36pt;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 10pt;
  }
  
  input[type=submit] {
    background-color: #712c40;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
  }

  input[type=submit]:hover {
    background-color:#712c40;
    opacity: 0.8;
    background: #535353;
    color: white;
    cursor: pointer;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
  }

/*Footer*/

footer {
  width: 100%;
  background-color:#999;
  padding: 50px 25px;
  margin: 0px;
}

.media-container{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: baseline;
}

.media-icons{
  position: absolute;
}

.media-icons i{
  color: #ffffff;
  margin-top: 10px;
  padding: 5px;
}

.media-icons i:hover {
  cursor: pointer;
  color: #ed6a3e;
  transition: all 0.3s ease;
}